* {
  margin: 0;
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
  width: auto;
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

* {
  --unit : 0.25rem;
  --color-primary : rgba(75, 0, 130, var(--text-opacity));
  --semi-bold : 500;
  --text-opacity : 1;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}